:root {
  --primary: #24292f;
  --primary-text:  #24292f;
  --danger: #fc3f1d;
  --border-color-input: #484848;
  --border-color-input: #dfdede;
  --body-bg: #f5f5f5;
  --border-color: #ededed;
  --white: #fff;
  --font-family: Arial, Hevletica, sans-serif;
}

body {
  margin: 0;
  background-color: #f5f5f5;
}

*,
::before,
::after {
  box-sizing: border-box;
}
